# Scala
*.class
*.log

# SBT
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IntelliJ IDEA
*.ipr
*.iws
.idea
out

# OSX
*.DS_Store

# Environment
env*.properties
buildinfo.properties
project/build.properties